---
// Components
import Head from '~/components/head.astro'
import Link from '~/components/link.astro'
import Section from '~/components/section.astro'
import SimpleLayout from '~/components/simple-layout.astro'
import BaseLayout from '~/layouts/base-layout.astro'

const items = await getCollection('uses')

const devTools = items.filter(({ data }) => {
  return data.category === 'dev-tools'
})
const productivity = items.filter(({ data }) => {
  return data.category === 'productivity'
})
const workStation = items.filter(({ data }) => {
  return data.category === 'work-station'
})

// Translations
import { getLangFromUrl, useTranslations } from '~/i18n'
import { getCollection } from 'astro:content'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const CONTENT = {
  intro:
    t('uses.content.intro'),
  title: t('uses.content.title'),
} as const

const METADATA = {
  description: t('uses.metadata.description'),
  title: t('uses.metadata.title'),
} as const
---

<BaseLayout>
  <Head
    description={METADATA.description}
    slot="metadata"
    title={METADATA.title}
  />
  <SimpleLayout intro={CONTENT.intro} slot="content" title={CONTENT.title}>
    <div class="space-y-20">
      <Section id="workstation" title={t('uses.content.section-one.title')}>
        <ul class="space-y-16" role="list">
          {
           workStation.map(({ data }) => (
              <li class="group relative flex flex-col items-start">
                <h3 class="text-base font-semibold tracking-tight text-primary-800 dark:text-primary-100">
                  <div class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-primary-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-primary-800/50 sm:-inset-x-6 sm:rounded-2xl" />
                  <Link
                    aria-label={`Link to ${data.title} purchase page.`}
                    href={data.href}
                    rel="noopener noreferrer"
                    target="_blank"
                  >
                    <span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl" />
                    <span class="relative z-10">{data.title}</span>
                  </Link>
                </h3>
                <p class="relative z-10 mt-2 text-sm text-primary-600 dark:text-primary-400">
                  {data.description}
                </p>
              </li>
            ))
          }
        </ul>
      </Section>
      <Section id="dev-tools" title={t('uses.content.section-two.title')}>
        <ul class="space-y-16" role="list">
          {
            devTools.map(({ data }) => (
              <li class="group relative flex flex-col items-start">
                <h3 class="text-base font-semibold tracking-tight text-primary-800 dark:text-primary-100">
                  <div class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-primary-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-primary-800/50 sm:-inset-x-6 sm:rounded-2xl" />
                  <Link
                    aria-label={`Link to ${data.title} purchase page.`}
                    href={data.href}
                    rel="noopener noreferrer"
                    target="_blank"
                  >
                    <span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl" />
                    <span class="relative z-10">{data.title}</span>
                  </Link>
                </h3>
                <p class="relative z-10 mt-2 text-sm text-primary-600 dark:text-primary-400">
                  {data.description}
                </p>
              </li>
            ))
          }
        </ul>
      </Section>
      <Section id="productivity" title={t('uses.content.section-three.title')}>
        <ul class="space-y-16" role="list">
          {
            productivity.map(({ data }) => (
              <li class="group relative flex flex-col items-start">
                <h3 class="text-base font-semibold tracking-tight text-primary-800 dark:text-primary-100">
                  <div class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-primary-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-primary-800/50 sm:-inset-x-6 sm:rounded-2xl" />
                  <Link
                    aria-label={`Link to ${data.title} purchase page.`}
                    href={data.href}
                    rel="noopener noreferrer"
                    target="_blank"
                  >
                    <span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl" />
                    <span class="relative z-10">{data.title}</span>
                  </Link>
                </h3>
                <p class="relative z-10 mt-2 text-sm text-primary-600 dark:text-primary-400">
                  {data.description}
                </p>
              </li>
            ))
          }
        </ul>
      </Section>
    </div>
  </SimpleLayout>
</BaseLayout>
