---
import { Image } from 'astro:assets'
// Assets
import me from '~/assets/cody-brunner-black-and-white.jpg'
// Components
import Container from '~/components/container.astro'
import Head from '~/components/head.astro'
import Socials from '~/components/socials.astro'
import BaseLayout from '~/layouts/base-layout.astro'

// Translations
import { getLangFromUrl, useTranslations } from '~/i18n'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const CONTENT = {
  content: [
    t('about.content.paragraph-one'),
    t('about.content.paragraph-two'),
    t('about.content.paragraph-three'),
  ],
  history:
    t('about.content.history'),
  title:
    t('about.content.title'),
} as const

const METADATA = {
  description: t('about.metadata.description'),
  title: t('about.metadata.title'),
} as const
---

<BaseLayout>
  <Head
    description={METADATA.description}
    slot="metadata"
    title={METADATA.title}
  />
  <Container class="mt-16 sm:mt-32" slot="content">
    <div
      class="grid grid-cols-1 gap-y-16 lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-12"
    >
      <div class="lg:pl-20">
        <div class="max-w-xs mx-auto px-2.5 lg:max-w-none">
          <Image
            alt="Image of Cody Brunner"
            class="aspect-auto rotate-3 rounded-2xl bg-primary-100 object-cover shadow-primary-800/30 shadow-2xl dark:shadow-primary-100/20 dark:bg-primary-800"
            height={300}
            src={me}
            width={300}
          />
        </div>
      </div>
      <div class="lg:order-first lg:row-span-2">
        <h1
          class="text-4xl font-display font-bold tracking-tight text-primary-800 dark:text-primary-100 sm:text-5xl"
        >
          {CONTENT.title}
        </h1>
        <div
          class="mt-6 space-y-7 text-base text-primary-600 dark:text-primary-400"
        >
          {CONTENT.content.map(paragraph => <p>{paragraph}</p>)}
          <hr class="border-primary-200 dark:border-primary-700/40" />
          <p class="">{CONTENT.history}</p>
        </div>
      </div>
      <div class="lg:pl-20">
        <Socials isOnAboutPage />
      </div>
    </div>
  </Container>
</BaseLayout>
