---
import { getCollection } from 'astro:content'

// Components
import Head from '~/components/head.astro'
import Link from '~/components/link.astro'
import Section from '~/components/section.astro'
import SimpleLayout from '~/components/simple-layout.astro'
import BaseLayout from '~/layouts/base-layout.astro'

const books = await getCollection('bookshelf')

const currentBooks = books.filter(({ data }) => {
	return data.category === 'current'
})
const fictionBooks = books.filter(({ data }) => {
	return data.category === 'fiction'
})
const financeBooks = books.filter(({ data }) => {
	return data.category === 'finance'
})
const marriageBooks = books.filter(({ data }) => {
	return data.category === 'marriage'
})
const selfHelpBooks = books.filter(({ data }) => {
	return data.category === 'self-help'
})
const technologyBooks = books.filter(({ data }) => {
	return data.category === 'technology'
})

// Translations
import { getLangFromUrl, useTranslations } from '~/i18n'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const CONTENT = {
	intro: t('bookshelf.content.intro'),

	title: t('bookshelf.content.title'),
} as const

const METADATA = {
	description: t('bookshelf.metadata.description'),
	title: t('bookshelf.metadata.title'),
} as const
---

<BaseLayout>
	<Head
		description={METADATA.description}
		slot='metadata'
		title={METADATA.title}
	/>
	<SimpleLayout intro={CONTENT.intro} slot='content' title={CONTENT.title}>
		<div class='space-y-20'>
			<Section id='current' title={t('bookshelf.section.one')}>
				<ul class='space-y-16' role='list'>
					{
						currentBooks.map(({ data }) => (
							<li class='group relative flex flex-col items-start'>
								<Link
									aria-label='// TODO'
									class='relative z-10 h-48 w-32 flex-shrink-0 overflow-hidden rounded-lg shadow-md group-hover:shadow-lg'
									href={data.url}
									rel='noopener noreferrer'
									target='_blank'
								>
									<img
										alt={data.title}
										class='h-full w-full object-cover'
										height={40}
										src={data.image}
										width={32}
									/>
								</Link>
								<h3 class='relative z-10 mt-2 text-base font-semibold tracking-tight text-primary-800 dark:text-primary-100'>
									<Link
										aria-label='// TODO'
										class='relative z-10 text-base font-semibold tracking-tight text-primary-800 dark:text-primary-100'
										href={data.url}
										rel='noopener noreferrer'
										target='_blank'
									>
										{data.title}
									</Link>
								</h3>
								<p class='relative z-10 mt-2 text-sm text-primary-600 dark:text-primary-400'>
									{data.authors.join(', ')}
								</p>
							</li>
						))
					}
				</ul>
			</Section>
			<Section id='fiction' title={t('bookshelf.section.two')}>
				<ul class='space-y-8' role='list'>
					{
						fictionBooks.map(({ data }) => (
							<li class='group rounded-md p-2 transition duration-300 ease-in-out hover:bg-primary-100 hover:shadow-md dark:hover:bg-primary-700/40'>
								<Link
									aria-label='// TODO'
									class='flex flex-col space-y-1 text-base tracking-tight text-primary-800 dark:text-primary-100'
									href={data.url}
									rel='noopener noreferrer'
									target='_blank'
								>
									<h3 class='text-base font-semibold tracking-tight text-primary-800 transition duration-300 ease-in-out group-hover:text-accent-600 dark:text-primary-100 dark:group-hover:text-accent-400'>
										{data.title}
									</h3>
									<p class='text-sm text-primary-600 dark:text-primary-400'>
										{data.authors.join(', ')}
									</p>
								</Link>
							</li>
						))
					}
				</ul>
			</Section>
			<Section id='finance' title={t('bookshelf.section.three')}>
				<ul class='space-y-8' role='list'>
					{
						financeBooks.map(({ data }) => (
							<li class='group rounded-md p-2 transition duration-300 ease-in-out hover:bg-primary-100 hover:shadow-md dark:hover:bg-primary-700/40'>
								<Link
									aria-label='// TODO'
									class='flex flex-col space-y-1 text-base tracking-tight text-primary-800 dark:text-primary-100'
									href={data.url}
									rel='noopener noreferrer'
									target='_blank'
								>
									<h3 class='text-base font-semibold tracking-tight text-primary-800 transition duration-300 ease-in-out group-hover:text-accent-600 dark:text-primary-100 dark:group-hover:text-accent-400'>
										{data.title}
									</h3>
									<p class='text-sm text-primary-600 dark:text-primary-400'>
										{data.authors.join(', ')}
									</p>
								</Link>
							</li>
						))
					}
				</ul>
			</Section>
			<Section id='relationship' title={t('bookshelf.section.four')}>
				<ul class='space-y-8' role='list'>
					{
						marriageBooks.map(({ data }) => (
							<li class='group rounded-md p-2 transition duration-300 ease-in-out hover:bg-primary-100 hover:shadow-md dark:hover:bg-primary-700/40'>
								<Link
									aria-label='// TODO'
									class='flex flex-col space-y-1 text-base tracking-tight text-primary-800 dark:text-primary-100'
									href={data.url}
									rel='noopener noreferrer'
									target='_blank'
								>
									<h3 class='text-base font-semibold tracking-tight text-primary-800 transition duration-300 ease-in-out group-hover:text-accent-600 dark:text-primary-100 dark:group-hover:text-accent-400'>
										{data.title}
									</h3>
									<p class='text-sm text-primary-600 dark:text-primary-400'>
										{data.authors.join(', ')}
									</p>
								</Link>
							</li>
						))
					}
				</ul>
			</Section>
			<Section id='self-help' title={t('bookshelf.section.five')}>
				<ul class='space-y-8' role='list'>
					{
						selfHelpBooks.map(({ data }) => (
							<li class='group rounded-md p-2 transition duration-300 ease-in-out hover:bg-primary-100 hover:shadow-md dark:hover:bg-primary-700/40'>
								<Link
									aria-label='// TODO'
									class='flex flex-col space-y-1 text-base tracking-tight text-primary-800 dark:text-primary-100'
									href={data.url}
									rel='noopener noreferrer'
									target='_blank'
								>
									<h3 class='text-base font-semibold tracking-tight text-primary-800 transition duration-300 ease-in-out group-hover:text-accent-600 dark:text-primary-100 dark:group-hover:text-accent-400'>
										{data.title}
									</h3>
									<p class='text-sm text-primary-600 dark:text-primary-400'>
										{data.authors.join(', ')}
									</p>
								</Link>
							</li>
						))
					}
				</ul>
			</Section>
			<Section id='technology' title={t('bookshelf.section.six')}>
				<ul class='space-y-8' role='list'>
					{
						technologyBooks.map(({ data }) => (
							<li class='group rounded-md p-2 transition duration-300 ease-in-out hover:bg-primary-100 hover:shadow-md dark:hover:bg-primary-700/40'>
								<Link
									aria-label='// TODO'
									class='flex flex-col space-y-1 text-base tracking-tight text-primary-800 dark:text-primary-100'
									href={data.url}
									rel='noopener noreferrer'
									target='_blank'
								>
									<h3 class='text-base font-semibold tracking-tight text-primary-800 transition duration-300 ease-in-out group-hover:text-accent-600 dark:text-primary-100 dark:group-hover:text-accent-400'>
										{data.title}
									</h3>
									<p class='text-sm text-primary-600 dark:text-primary-400'>
										{data.authors.join(', ')}
									</p>
								</Link>
							</li>
						))
					}
				</ul>
			</Section>
		</div>
	</SimpleLayout>
</BaseLayout>
