---
import Head from '@components/Head.astro'
import Link from '@components/Link.astro'
import List from '@components/List.astro'
import ListItem from '@components/ListItem.astro'
import Main from '@components/Main.astro'
import Section from '@components/Section.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
import { books } from '@data/books'

const CONSTANTS = {
	description: 'Recommended books and what I am currently reading.',
	title: 'Bookshelf',
}
---

<BaseLayout>
	<Head
		description={CONSTANTS.description}
		slot='metadata'
		title={CONSTANTS.title}
	/>
	<Main class='space-y-8 py-8' slot='content'>
		<Section class='space-y-8'>
			<h1 class='text-2xl font-semibold text-aura-purple underline'>
				Currently Reading
			</h1>
			<List class='grid grid-cols-1 gap-4' kind="unordered">
				{
					books['currently-reading'].map(({ authors, image, title, url }) => (
						<ListItem class='flex space-x-4'>
							<img alt={title} class='h-40' src={image} />
							<div class='flex flex-col space-y-2'>
								<Link
									aria-label={`Link to Amazon to buy ${title}`}
									class='font-semibold hover:text-aura-orange'
									href={url}
									isExternal
								>
									{title}
								</Link>
								<span class='text-aura-gray'>By {authors.join(', ')}</span>
							</div>
						</ListItem>
					))
				}
			</List>
		</Section>
		<hr class='border-aura-gray' />
		<Section class='space-y-8'>
			<h1 class='text-2xl font-semibold text-aura-purple underline'>
				Recommended Reading
			</h1>
			<List class='space-y-3' kind="unordered">
				{
					books.recommended.map(({ authors, title, url }) => (
						<ListItem>
							<Link
								aria-label={`Link to Amazon to buy ${title}`}
								class='group flex flex-col items-start justify-between rounded-md px-1 transition-all delay-75 duration-500 ease-in-out md:flex-row lg:hover:bg-gradient-to-r lg:hover:from-aura-purple/70 lg:hover:via-aura-purple/20 lg:hover:to-aura-purple/0'
								href={url}
								isExternal
							>
								<span class='font-semibold lg:group-hover:translate-x-4 lg:group-hover:text-aura-orange'>
									{title}
								</span>
								<span class='text-aura-gray lg:truncate lg:group-hover:text-aura-orange'>
									By {authors.join(', ')}
								</span>
							</Link>
						</ListItem>
					))
				}
			</List>
		</Section>
	</Main>
</BaseLayout>
