---
import { Image } from 'astro:assets'

// Components
import Head from '~/components/head.astro'
import Link from '~/components/link.astro'
import SimpleLayout from '~/components/simple-layout.astro'
import BaseLayout from '~/layouts/base-layout.astro'

const projects = await getCollection('projects')

// Translations
import { getLangFromUrl, useTranslations } from '~/i18n'
import { getCollection } from 'astro:content'
import ProjectsJsonldScript from '~/components/scripts/projects-jsonld-script.astro'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const CONTENT = {
	intro: t('projects.content.intro'),
	title: t('projects.content.title'),
} as const

const METADATA = {
	description: t('projects.metadata.description'),
	title: t('projects.metadata.title'),
} as const
---

<BaseLayout>
	<Head
		data={{
			description: METADATA.description,
			title: METADATA.title,
		}}
		slot='metadata'
	>
		<ProjectsJsonldScript
			description={METADATA.description}
			projects={projects.map(p => ({
				description: p.data.description,
				name: p.data.name,
				url: p.data.link.href,
			}))}
			siteDescription="Welcome to Cody's personal website and tech blog! Based in Colombia, Cody is a Christian, USN Veteran, Jayhawk, and an American expat living outside of Bogotá, Colombia. He is currently looking for new opportunities in the tech industry. Explore his journey and insights in software development."
			siteName='Home | codybrunner.com'
			socials={[
				'https://www.buymeacoffee.com/codyabrunner',
				'https://github.com/rockchalkwushock',
				'https://www.instagram.com/cody.en.colombia/',
				'https://www.linkedin.com/in/cody-brunner',
				'https://twitter.com/codyencolombia',
				'https://www.upwork.com/freelancers/~01bfca196120eae300',
			]}
			title={METADATA.title}
			url={Astro.url}
		/>
	</Head>
	<SimpleLayout intro={CONTENT.intro} slot='content' title={CONTENT.title}>
		<ul
			class='grid grid-cols-1 gap-x-12 gap-y-16 sm:grid-cols-2 lg:grid-cols-3'
			role='list'
		>
			{
				projects.map(({ data: project }) => (
					<li class='group relative flex flex-col items-start'>
						<div class='relative z-10 flex h-12 w-12 items-center justify-center rounded-full bg-white shadow-md shadow-primary-800/5 ring-1 ring-primary-900/5 dark:border dark:border-primary-700/50 dark:bg-primary-800 dark:ring-0'>
							<Image
								alt={`Logo for ${project.name}`}
								class='h-9 w-9 rounded-full'
								height={36}
								src={project.logo}
								width={36}
							/>
						</div>
						<h2 class='mt-6 text-base font-semibold text-primary-800 dark:text-primary-100'>
							<div class='absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-primary-50 opacity-0 transition group-hover:scale-100 group-hover:opacity-100 dark:bg-primary-800/50 sm:-inset-x-6 sm:rounded-2xl' />
							<Link
								aria-label={`Link to ${project.name}`}
								href={project.link.href}
								rel='noopener noreferrer'
								target='_blank'
							>
								<span class='absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl' />
								<span class='relative z-10'>{project.name}</span>
							</Link>
						</h2>
						<p class='relative z-10 mt-2 text-sm text-primary-600 dark:text-primary-400'>
							{project.description}
						</p>
						<p class='relative z-10 mt-6 flex text-sm font-medium text-primary-400 transition group-hover:text-accent-500 dark:text-primary-200'>
							<svg
								aria-hidden='true'
								class='h-6 w-6 flex-none'
								view-box='0 0 24 24'
							>
								<path
									class='fill-current'
									d='M15.712 11.823a.75.75 0 1 0 1.06 1.06l-1.06-1.06Zm-4.95 1.768a.75.75 0 0 0 1.06-1.06l-1.06 1.06Zm-2.475-1.414a.75.75 0 1 0-1.06-1.06l1.06 1.06Zm4.95-1.768a.75.75 0 1 0-1.06 1.06l1.06-1.06Zm3.359.53-.884.884 1.06 1.06.885-.883-1.061-1.06Zm-4.95-2.12 1.414-1.415L12 6.344l-1.415 1.413 1.061 1.061Zm0 3.535a2.5 2.5 0 0 1 0-3.536l-1.06-1.06a4 4 0 0 0 0 5.656l1.06-1.06Zm4.95-4.95a2.5 2.5 0 0 1 0 3.535L17.656 12a4 4 0 0 0 0-5.657l-1.06 1.06Zm1.06-1.06a4 4 0 0 0-5.656 0l1.06 1.06a2.5 2.5 0 0 1 3.536 0l1.06-1.06Zm-7.07 7.07.176.177 1.06-1.06-.176-.177-1.06 1.06Zm-3.183-.353.884-.884-1.06-1.06-.884.883 1.06 1.06Zm4.95 2.121-1.414 1.414 1.06 1.06 1.415-1.413-1.06-1.061Zm0-3.536a2.5 2.5 0 0 1 0 3.536l1.06 1.06a4 4 0 0 0 0-5.656l-1.06 1.06Zm-4.95 4.95a2.5 2.5 0 0 1 0-3.535L6.344 12a4 4 0 0 0 0 5.656l1.06-1.06Zm-1.06 1.06a4 4 0 0 0 5.657 0l-1.061-1.06a2.5 2.5 0 0 1-3.535 0l-1.061 1.06Zm7.07-7.07-.176-.177-1.06 1.06.176.178 1.06-1.061Z'
								/>
							</svg>
							<span class='ml-2'>{project.link.label}</span>
						</p>
					</li>
				))
			}
		</ul>
	</SimpleLayout>
</BaseLayout>
