---
import Head from '@components/Head.astro'
import List from '@components/List.astro'
import ListItem from '@components/ListItem.astro'
import Main from '@components/Main.astro'
import ProjectCard from '@components/ProjectCard.astro'
import Section from '@components/Section.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
import { projects } from '@data/projects'

const CONSTANTS = {
	description: "Personal, Enterprise, and Open Source projects I've worked on.",
	title: 'Projects',
}
---

<BaseLayout>
	<Head
		description={CONSTANTS.description}
		slot='metadata'
		title={CONSTANTS.title}
	/>
	<Main class='space-y-8 py-8' slot='content'>
		<Section class='space-y-4'>
			<h1 class='text-3xl font-bold text-aura-purple'>Open Source Projects</h1>
			<p class='text-lg text-aura-gray'>
				Open source projects I have authored or contributed too.
			</p>
			<List
				class='space-y-8 lg:grid lg:grid-cols-3 lg:place-items-center lg:gap-8 lg:space-y-0'
				kind='unordered'
			>
				{
					projects.oss.map(project => (
						<ListItem class='h-full'>
							<ProjectCard project={project} />
						</ListItem>
					))
				}
			</List>
		</Section>
		<hr class='border-aura-gray' />
		<Section class='space-y-4'>
			<h1 class='text-3xl font-bold text-aura-purple'>Personal Projects</h1>
			<p class='text-lg text-aura-gray'>
				Personal side projects that I have written in various languages and
				technologies.
			</p>
			<List
				class='space-y-8 lg:grid lg:grid-cols-3 lg:place-items-center lg:gap-8 lg:space-y-0'
				kind='unordered'
			>
				{
					projects.personal.map(project => (
						<ListItem class='h-full'>
							<ProjectCard project={project} />
						</ListItem>
					))
				}
			</List>
		</Section>
		<hr class='border-aura-gray' />
		<Section class='space-y-4'>
			<h1 class='text-3xl font-bold text-aura-purple'>Professional Projects</h1>
			<p class='text-lg text-aura-gray'>
				Software I have worked on in my professional career.
			</p>
			<List
				class='space-y-8 lg:grid lg:grid-cols-3 lg:place-items-center lg:gap-8 lg:space-y-0'
				kind='unordered'
			>
				{
					projects.professional.map(project => (
						<ListItem class='h-full'>
							<ProjectCard project={project} />
						</ListItem>
					))
				}
			</List>
		</Section>
	</Main>
</BaseLayout>
