---
import type { Frontmatter } from '@interfaces/post'
import Link from './Link.astro'
import Tags from './Tags.astro'

export type Props = Frontmatter

const { pathname } = Astro.url
const { category, createdAt, modifiedAt, publishedAt, readingTime, tags } =
	Astro.props
---

<div
	class='sticky top-0 flex flex-col items-start space-y-4 lg:block lg:border-l lg:border-l-indigo-500 lg:px-4 lg:pt-4 dark:lg:border-l-aura-orange'
>
	<div
		class='relative h-24 w-24 overflow-hidden rounded-full border border-aura-orange bg-aura-white'
	>
		<img alt='' class='absolute h-24 w-24 rounded-full' src='' />
	</div>

	<div class='flex flex-col space-y-8'>
		<dl class='flex flex-col space-y-1'>
			<dt class='font-semibold text-aura-purple'>Published on</dt>
			<dd class='text-base font-medium leading-6'>
				<time datetime={new Date(publishedAt || createdAt).toISOString()}>
					{publishedAt || createdAt}
				</time>
			</dd>
		</dl>
		{
			modifiedAt && (
				<dl class='flex flex-col space-y-1'>
					<dt class='font-semibold text-aura-purple'>Updated on</dt>
					<dd class='text-base font-medium leading-6'>
						<time datetime={new Date(modifiedAt || createdAt).toISOString()}>
							{modifiedAt}
						</time>
					</dd>
				</dl>
			)
		}
		<dl class='flex flex-col space-y-1'>
			<dt class='font-semibold text-aura-purple'>Read Time</dt>
			<dd class='text-base font-medium leading-6'>
				{readingTime}
			</dd>
		</dl>
		{
			pathname !== '/about' && (
				<dl class='flex flex-col space-y-1'>
					<dt class='font-semibold text-aura-purple'>Category</dt>
					<dd class='text-base font-medium leading-6'>
						<Link
							href={`/categories/${category}`}
							label={`Link to ${category} related posts.`}
						>
							{category}
						</Link>
					</dd>
				</dl>
			)
		}
		{
			pathname !== '/about' && (
				<dl class='flex flex-col space-y-1'>
					<dt class='font-semibold text-aura-purple'>Tags</dt>
					<dd class='text-base font-medium leading-6'>
						<Tags tags={tags} />
					</dd>
				</dl>
			)
		}
		<dl class='flex flex-col space-y-1'>
			<dt class='font-semibold text-aura-purple'>Share</dt>
			<dd>
				{/* TODO: Add Sharing Feature */}
			</dd>
		</dl>
	</div>
	{/* TODO: Add Table Of Contents */}
</div>
