---
import { Icon } from 'astro-icon'
// Components
import Img from './Img.astro'
import Link from '@components/Link.astro'
import List from './List.astro'
import ListItem from './ListItem.astro'
// Assets
import astroIcon from '@assets/icons/astro.svg'
import mdxIcon from '@assets/icons/mdx.svg'
import tailwindcssIcon from '@assets/icons/tailwindcss.svg'
import { links, routes } from 'routes-and-links'

const CONSTANTS = {
	nav: [
		{
			label: 'Link to Home',
			href: routes.home,
			isExternal: false,
			text: 'Home',
		},
		// { label: 'Link to Blog', href: 'https://blog.codybrunner.com', isExternal: false, text: 'Blog' },
		{
			label: 'Link to Bookshelf',
			href: routes.bookshelf,
			isExternal: false,
			text: 'Bookshelf',
		},
		{
			label: "Link to Cody Brunner's GitHub",
			href: links.github,
			isExternal: true,
			text: 'GitHub',
		},
		{
			label: "Link to Cody Brunner's LinkedIn",
			href: links.linkedin,
			isExternal: true,
			text: 'LinkedIn',
		},
		{
			label: "Link to Cody Brunner's Appointlet Booking Page",
			href: links.meet,
			isExternal: true,
			text: 'Meet',
		},
		{
			label: 'Link to Portfolio',
			href: routes.portfolio,
			isExternal: false,
			text: 'Portfolio',
		},
		{
			label: "Link to Cody Brunner's Resume",
			href: routes.resume,
			isExternal: true,
			text: 'Resume',
		},
		{
			label: "Link to Cody Brunner's Twitter",
			href: links.twitter,
			isExternal: true,
			text: 'Twitter',
		},
		{
			label: 'Link to Uses',
			href: routes.uses,
			isExternal: false,
			text: 'Uses',
		},
	],
	year: new Date().getFullYear(),
}
---

<footer
	class='flex w-full flex-col space-y-8 border-t border-solid border-aura-gray pb-8 lg:flex-row lg:space-y-0 lg:pb-0 lg:pt-6'
>
	<div class='hidden flex-1 lg:block'>
		<List class='grid grid-cols-2 place-items-start gap-x-1' kind='unordered'>
			{
				CONSTANTS.nav.map(({ text, ...rest }) => (
					<ListItem class='group flex w-full rounded-lg bg-gradient-to-r hover:from-aura-purple-fading/70 hover:via-aura-purple-fading/30 hover:to-aura-purple-fading/0'>
						<Link
							{...rest}
							class='flex-1 py-1 transition-all delay-75 duration-100 ease-in-out group-hover:translate-x-6 group-hover:scale-110 group-hover:text-aura-orange'
						>
							{text}
						</Link>
					</ListItem>
				))
			}
		</List>
	</div>

	<div class='flex flex-1 flex-col items-center space-y-4 lg:items-end'>
		<p
			class='flex items-center space-x-3 rounded-3xl bg-aura-purple-fading px-4 py-2 shadow-lg'
		>
			<span class='font-medium text-white'>Built with</span>
			<Link
				aria-label={`Built with ${Astro.generator}`}
				class='transition-all duration-200 ease-in-out hover:scale-125'
				href={links.astro}
				isExternal
			>
				<Img alt='AstroJS Icon' aspectRatio='1:1' height={30} src={astroIcon} />
			</Link>
			<Link
				aria-label='Built with MDXJS'
				class='transition-all duration-200 ease-in-out hover:scale-125'
				href={links.mdx}
				isExternal
			>
				<Img alt='MDXJS Icon' aspectRatio='1:1' height={30} src={mdxIcon} />
			</Link>
			<Link
				aria-label='Built with TailwindCSS'
				class='transition-all duration-200 ease-in-out hover:scale-125'
				href={links.tailwindcss}
				isExternal
			>
				<Img
					alt='TailwindCSS Icon'
					aspectRatio='1:1'
					height={30}
					src={tailwindcssIcon}
				/>
			</Link>
		</p>

		<Link
			aria-label='Link to Creative Commons License'
			class='flex items-center space-x-1 transition-all duration-200 ease-in-out hover:scale-105 hover:font-bold hover:text-aura-orange'
			href={links.copyright}
			isExternal
		>
			<span>All Content</span>
			<Icon class='h-4 w-4' name='mdi:copyright' />
			<span>{CONSTANTS.year}</span>
		</Link>

		<!-- <Link
			aria-label='Link to RSS Feed for codybrunner.com'
			class='flex items-center space-x-1 transition-all duration-200 ease-in-out hover:scale-105 hover:font-bold hover:text-aura-orange'
			href={routes.rss}
		>
			<span>RSS Feed</span>
			<Icon class='h-5 w-5' name='mdi:rss' />
		</Link> -->
	</div>
</footer>
