---
import { Icon } from 'astro-icon'
// Components
import Img from '@components/Img.astro'
import Link from '@components/Link.astro'
import List from './List.astro'
import ListItem from './ListItem.astro'
import { links, routes } from 'routes-and-links'

const CONSTANTS = [
	{
		label: 'Link to Home',
		href: routes.home,
		isExternal: false,
		text: 'Home',
	},
	// {
	// 	label: 'Link to Blog',
	// 	href: routes.blog,
	// 	isExternal: false,
	// 	text: 'Blog'
	// },
	{
		label: 'Link to Portfolio',
		href: routes.portfolio,
		isExternal: false,
		text: 'Portfolio',
	},
	{
		label: "Link to Cody Brunner's Appointlet Booking Page",
		href: links.meet,
		isExternal: true,
		text: 'Meet',
	},
	{
		label: "Link to Cody Brunner's Resume",
		href: routes.resume,
		isExternal: true,
		text: 'Resume',
	},
	{
		label: "Link to Cody Brunner's GitHub",
		href: links.github,
		isExternal: true,
		text: 'GitHub',
	},
	{
		label: "Link to Cody Brunner's LinkedIn",
		href: links.linkedin,
		isExternal: true,
		text: 'LinkedIn',
	},
	{
		label: "Link to Cody Brunner's Twitter",
		href: links.twitter,
		isExternal: true,
		text: 'Twitter',
	},
]
---

<header class='hidden w-full shrink-0 py-4 lg:block'>
	<nav class='flex items-center justify-between'>
		<div>
			<Link aria-label='Go to Home Page.' href={routes.home}>
				<Img
					alt='Logo'
					height={40}
					width={40}
					src='/favicons/android-chrome-192x192.png'
				/>
			</Link>
		</div>
		<List
			class='flex flex-row items-center space-x-3 rounded-3xl bg-aura-purple-fading px-4 py-2 shadow-lg'
			kind='unordered'
		>
			{
				CONSTANTS.slice(0, 4).map(({ href, isExternal, label, text }) => (
					<ListItem class='group transition-all duration-200 ease-in-out lg:hover:scale-105'>
						<Link
							aria-label={label}
							class='group-hover:text-aura-orange'
							href={href}
							isExternal={isExternal}
						>
							{text}
						</Link>
					</ListItem>
				))
			}
			<ListItem>
				<hr class='h-5 border border-l-white' />
			</ListItem>
			{
				CONSTANTS.slice(4).map(({ href, isExternal, label, text }) => (
					<ListItem class='group transition-all duration-200 ease-in-out lg:hover:scale-125'>
						<Link
							aria-label={label}
							class='group-hover:font-bold group-hover:text-aura-orange'
							href={href}
							isExternal={isExternal}
						>
							{text === 'GitHub' ? (
								<Icon alt='GitHub Icon' class='h-6 w-6' name='mdi:github' />
							) : text === 'LinkedIn' ? (
								<Icon alt='LinkedIn Icon' class='h-6 w-6' name='mdi:linkedin' />
							) : (
								<Icon alt='Twitter Icon' class='h-6 w-6' name='mdi:twitter' />
							)}
						</Link>
					</ListItem>
				))
			}
		</List>
	</nav>
</header>
