---
export interface Props {
	readonly data?: {
		readonly description?: string
		readonly image?: URL | string | undefined
		readonly imageAlt?: string
		readonly title?: string
	}
}

const CONSTANTS = {
	author: 'Cody Brunner',
	twitter: '@codyencolombia',
} as const

const {
	description = "Welcome to Cody's personal website and tech blog! Based in Colombia, Cody is a Christian, USN Veteran, Jayhawk, and an American expat living outside of Bogotá, Colombia. He is currently looking for new opportunities in the tech industry. Explore his journey and insights in software development.",
	image = new URL('/favicons/logo.jpg', Astro.url),
	imageAlt = 'Cody Brunner',
	title = 'Home',
} = Astro.props.data ?? {}

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const siteTitle = `${title} | codybrunner.com`
---

<!-- Primary Meta Tags -->
<meta name='author' content={CONSTANTS.author} />
<meta name='description' content={description} />
<meta name='title' content={siteTitle} />
<title>{siteTitle}</title>

<!-- Canonical URL -->
<link href={canonicalURL} rel='canonical' />

<!-- Open Graph / Facebook -->
<meta property='og:description' content={description} />
<meta property='og:image' content={image} />
<meta property='og:image:alt' content={imageAlt} />
<meta property='og:image:height' content='512' />
<meta property='og:image:type' content='image/jpg' />
<meta property='og:image:width' content='512' />
<meta property='og:locale' content='en_US' />
<meta property='og:site_name' content={CONSTANTS.author} />
<meta property='og:title' content={siteTitle} />
<meta property='og:type' content='website' />
<meta property='og:url' content={Astro.url} />

<!-- Twitter -->
<meta property='twitter:card' content='summary_large_image' />
<meta property='twitter:creator' content={CONSTANTS.twitter} />
<meta property='twitter:description' content={description} />
<meta property='twitter:image' content={image} />
<meta property='twitter:image:alt' content={imageAlt} />
<meta property='twitter:site' content={CONSTANTS.twitter} />
<meta property='twitter:title' content={siteTitle} />
<meta property='twitter:url' content={Astro.url} />

<slot />
