---
import { ViewTransitions } from 'astro:transitions'

export type Props = {
  readonly description?: string
  readonly image?: URL
  readonly imageAlt?: string
  readonly title?: string
}

const CONSTANTS = {
  author: 'Cody Brunner',
  twitter: '@RockChalkDev',
} as const

const {
  description = "Welcome to Cody's personal website and tech blog! Based in Colombia, Cody is a Senior Frontend Developer at Bitcoin IRA, the world's first trusted crypto IRA platform. Explore his journey and insights in software development.",
  image = new URL('/favicons/logo.jpg', Astro.url),
  imageAlt = 'Cody Brunner',
  title = 'Home',
} = Astro.props

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const rssURL = new URL('/rss.xml', Astro.url)
const siteTitle = `${title} | codybrunner.com`
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="generator" content={Astro.generator} />

<!-- Primary Meta Tags -->
<meta name="author" content={CONSTANTS.author} />
<meta name="description" content={description} />
<meta name="title" content={siteTitle} />
<title>{siteTitle}</title>

<!-- Bots -->
<!-- TODO: Uncomment -->
<!-- <meta name='robots' content='follow, index' /> -->

<!-- Sitemap -->
<link href="/sitemap-index.xml" rel="sitemap" />

<!-- Canonical URL -->
<link href={canonicalURL} rel='canonical' />

<!-- RSS Feed -->
<link
	href={rssURL}
	rel='alternate'
	title='RSS Feed | codybrunner.com'
	type='application/rss+xml'
/>

<!-- Open Graph / Facebook -->
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />
<meta property="og:image:alt" content={imageAlt} />
<meta property="og:image:height" content="512" />
<meta property="og:image:type" content="image/jpg" />
<meta property="og:image:width" content="512" />
<meta property="og:locale" content="en_US" />
<meta property="og:site_name" content={CONSTANTS.author} />
<meta property="og:title" content={siteTitle} />
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:creator" content={CONSTANTS.twitter} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={image} />
<meta property="twitter:image:alt" content={imageAlt} />
<meta property="twitter:site" content={CONSTANTS.twitter} />
<meta property="twitter:title" content={siteTitle} />
<meta property="twitter:url" content={Astro.url} />

<!-- Favicons -->
<link rel='icon' type='image/svg+xml' href='/favicons/favicon.ico' />
<link
	rel='apple-touch-icon'
	sizes='180x180'
	href='/favicons/apple-touch-icon.png'
/>
<link
	rel='icon'
	type='image/png'
	sizes='32x32'
	href='/favicons/favicon-32x32.png'
/>
<link
	rel='icon'
	type='image/png'
	sizes='16x16'
	href='/favicons/favicon-16x16.png'
/>
<link href='/manifest.json' rel='manifest' />

<ViewTransitions />
