---
import type { Project } from '@data/projects'
import Card from './Card.astro'
import Link from './Link.astro'

export interface Props {
	project: Project
}

const { project } = Astro.props
---

<Card>
	<div>
		<h2>{project.name}</h2>
		<p>{project.description}</p>
	</div>
	<div>
		{
			project.source && (
				<Link
					aria-label={`Link to source code for ${project.name}`}
					class='min-w-[85px] rounded-full bg-aura-gray px-3 py-1 text-center transition-all duration-300 ease-in-out hover:scale-95 hover:bg-aura-purple/70'
					href={project.source}
					isExternal
				>
					Source
				</Link>
			)
		}
		{
			project.url && (
				<Link
					aria-label={`Link to live ${project.name} project.`}
					class='min-w-[85px] rounded-full bg-aura-gray px-3 py-1 text-center transition-all duration-300 ease-in-out hover:scale-95 hover:bg-aura-purple/70'
					href={project.url}
					isExternal
				>
					Live
				</Link>
			)
		}
	</div>
</Card>
