---
import { Icon } from 'astro-icon'

const socials: Array<{
	href: string
	icon: string
	label: string
	text: string
}> = [
	{
		href: 'https://github.com/rockchalkwushock',
		icon: 'eva:github-outline',
		label: "Link to Cody Brunner's Github",
		text: 'GitHub',
	},
	{
		href: 'https://www.instagram.com/rockchalkwushock',
		icon: 'fe:instagram',
		label: "Link to Cody Brunner's Instagram",
		text: 'Instagram',
	},
	{
		href: 'https://www.linkedin.com/in/cody-brunner',
		icon: 'eva:linkedin-outline',
		label: "Link to Cody Brunner's LinkedIn",
		text: 'LinkedIn',
	},
	{
		href: 'https://twitter.com/RockChalkDev',
		icon: 'eva:twitter-outline',
		label: "Link to Cody Brunner's Twitter",
		text: 'Twitter',
	},
]

const pickStyles = (text: string) => {
	const styles: Record<string, string> = {
		github:
			'md:hover:bg-black md:hover:text-white dark:md:hover:bg-aura-purple-fading',
		instagram: 'md:hover:bg-instagram md:hover:text-white',
		linkedin: 'md:hover:bg-linkedin md:hover:text-white',
		twitter: 'md:hover:bg-twitter md:hover:text-white',
	}
	return styles[text]
}
---

<ul class='flex w-full items-center justify-center space-x-0.5'>
	{
		socials.map(({ href, icon, label, text }) => (
			<li class={`social-button group ${pickStyles(text.toLowerCase())}`}>
				<a
					aria-label={label}
					class='p-1'
					href={href}
					rel='noopener noreferrer'
					target='_blank'
				>
					<Icon
						aria-label={`${text} Icon`}
						class='h-10 w-10 md:group-hover:animate-wiggle'
						name={icon}
					/>
				</a>
			</li>
		))
	}
</ul>
